body{
    background-color: #EAF6F6;
}

hr{ 
    background-color: #EAF6F6;
    border-style: dotted none none none;
    border-color: rgb(144, 227, 144);
    border-width: 10px;
    /* height: 3px; */
    width: 20%;
}

h1, h3{
    color: #61BFBF;
}